#list {
  justify-content: center;
  display: flex;
  list-style: none;
  height: auto;
  width: auto;
  margin: auto;
  padding: auto;
}
.list-item {
  padding: 10px;
  margin-right: 20px;
  font-weight: 600;
}
a {
  text-decoration: none;
  color: rgb(122, 121, 121);
}
.list-item:hover {
  background-color: rgb(219, 216, 211);
  border-radius: 5px;
}
a:hover {
  color: rgb(49, 47, 47);
}
#navbar {
  width: 1550px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  margin: auto;
}
#navimg {
  height: auto;
  width: auto;
}
#reg-btn {
  color: aliceblue;
  background-color: rgb(34, 34, 218);
  border-radius: 10px;
  border: none;
  width: 185px;
  height: 45px;
}
#baner-reg-btn {
  color: aliceblue;
  background-color: rgb(34, 34, 218);
  border-radius: 9px;
  border: none;
  width: 265px;
  height: 65px;
  font-size: 25px;
  margin-bottom: 60px;
}
#btn-container {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#hero-banner {
  position: relative;
}
#baner-img {
  width: 100%;
  height: 785px;
  object-fit: cover;
  display: block;
}
#baner-conentent {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  width: fixed;
}
body {
  margin: 0%;
  padding: 0%;
  font-family: "Arial Narrow Bold", sans-serif;
}
p {
  font-size: 18px;
  color: rgb(175, 175, 175);
}
#heading {
  font-size: 55px;
}
.text {
  text-align: center;
  font-weight: 900;
  font: arial;
}
.card {
  background: white;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid #ddd;
}
.speakers {
  width: 80%;
  margin: 60px auto;
}
.speakers h2 {
  text-align: center;
  font-size: 48px;
  margin-bottom: 50px;
}
.speaker-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}
.card img {
  width: 100%;
  object-fit: cover;
  display: block;
}
.card:hover {
  transform: translateY(-8px);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.12);
}
.card-info {
  padding: 20px;
  margin: auto;
}
.category {
  color: #2563eb;
}
.price-tag-container {
  display: flex;
  justify-content: center;
  gap: 25px;
}
.active {
  background-color: #0d1b2a;
  color: aliceblue;
}
.active hr {
  border-color: #34495e;
}
hr {
  margin: 20px 0;
  border: none;
  border-top: 1px solid #ddd;
}
.size {
  width: 320px;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 30px;
  margin-bottom: 150px;
  height: 450px;
}
ul {
  padding-left: 18px;
}

li {
  margin-bottom: 12px;
}
button {
  width: 100%;
  padding: 12px;
  border-radius: 6px;
  cursor: pointer;
  border: 1px;
}
.active button {
  background: #2962ff;
  color: white;
  border: none;
}
#activebtn:hover,
#baner-reg-btn:hover,
#reg-btn:hover {
  background-color: blue;
  color: white;
}
button:hover {
  background-color: rgb(219, 216, 211);
  color: black;
  border-radius: 5px;
}
footer {
  background-color: #0f1b2d;
  padding: 30px 80px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sclogo{
  size: 1px;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

/* Form */
.register-form {
    background: #ffffff;
    width: 1000px;
    padding: 45px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

/* Heading */
.register-form h1 {
    text-align: center;
    margin-bottom: 10px;
    color: #333;
}

.register-form p {
    text-align: center;
    color: #666;
    margin-bottom: 20px;
}

/* Labels */

.register-form input:focus {
    border-color: #007bff;
}

.checkbox {
    width: 70%;
    margin: 20px auto;
    display: flex;
    align-items: center;
    gap: 10px;
}

.checkbox input {
    width: 18px;
    height: 18px;
    
}

.checkbox label {
    width: auto;
}
/* Button */
button {
    width: 45%;
    padding: 12px;
    border: none;
    background: #007bff;
    color: white;
    font-size: 18px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #0056b3;
}

/* Login Text */
.login {
    margin-top: 20px;
}

.login a {
    color: #007bff;
    text-decoration: none;
}

.login a:hover {
    text-decoration: underline;
}
.register-form input[type="text"],
.register-form input[type="email"],
.register-form input[type="password"] {
    display: block;
    width: 70%;
    padding: 12px;
    margin: 0 auto 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
}
.input-group {
    width: 70%;
    margin: 0 auto 20px;
}

.input-group label {
    display: block;
    margin-bottom: 6px;
}

.input-group input {
    width: 100%;

}
.register-form label {
    display: block;
    width: 70%;
    margin: 0 auto 4px;
}
.button-container {
    display: flex;
    justify-content: center;
}
label {
    width: 70%;
    margin: 0 auto;
}